<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Kutya könyv</title>
    <link rel="stylesheet" href="../public/css/foundation.css"/>
    <script src="../public/js/vendor/modernizr.js"></script>
</head>