<!doctype html>
<html class="no-js" lang="hu">
<%- include head/head %>
<body>

<%- include menu/menu %>

<div class="hero-content">
    <div class="large-8 columns">
        <h2>Kutya regisztráció</h2>
    </div>
</div>

<section class="hero-content">
    <div class="row">
        <div class="large-8 columns large-centered">
            <form>
                <label for="dogName"> Hívónév </label>
                <input id="dogName" name="dogName" type="text" maxlength="20"/>
                <label for="userName"> Felelős felhasználó neve </label>
                <input id="userName" type="text" maxlength="20" disabled="yes"/>
                <select>
                    <option value="default">Nem</option>
                    <option value="boy">Fiú</option>
                    <option value="girl">Lány</option>
                </select>
                <select>
                    <option value="default">Kérem válasszon egy fajtát</option>
                    <option value="dog1">Kutya1</option>
                    <option value="dog2">Kutya2</option>
                    <option value="dog3">Kutya3</option>
                </select>
                <label for="details"> Leírás </label>
                <textarea rows="4" cols="10" id="details">Kutyus leírása...</textarea>
                <input id="dogRegistration" type="submit" value="Regisztráció"/>
            </form>
        </div>
    </div>
</section>
</body>
</html>
