<!doctype html>
<html class="no-js" lang="hu">
<%- include head/head %>
<body>

<%- include menu/menu %>

<div class="hero-content">
    <div class="large-8 columns">
        <h2>Kutya regisztráció</h2>
    </div>
</div>

<section class="hero-content">
    <div class="row">
        <div class="large-8 columns large-centered">
            <form method="post">
                <label for="dogName"> Hívónév </label>
                <input id="dogName" name="dogName" type="text" maxlength="20"/>
                <label for="userName"> Felelős felhasználó neve </label>
                <input id="userName" name="userName" type="text" maxlength="20" disabled="true" value="<%= session.userName%>"/>
                <select id="sex" name="sex">
                    <option value="default">Nem</option>
                    <option value="boy">Fiú</option>
                    <option value="girl">Lány</option>
                </select>
                <select id="species" name="species">
                    <option value="default">Kérem válasszon egy fajtát</option>
                    <option value="Mopsz">Mopsz</option>
                    <option value="Nemetjuhasz">Németjuhasz</option>
                    <option value="Korgi">Korgi</option>
                </select>
                <label for="details"> Leírás </label>
                <textarea rows="4" cols="10" id="details" name="details">Kutyus leírása...</textarea>
                <input id="dogRegistration" type="submit" value="Regisztráció"/>
            </form>
        </div>
    </div>
</section>
</body>
</html>
