<!doctype html>
<html class="no-js" lang="hu">
<%- include head/head %>
<body>

<%- include menu/menu %>

<div class="hero-content">
    <div class="small-3 columns">
        <h2>Kutya keresés</h2>
        <select>
            <option value="default">Nem</option>
            <option value="boy">Fiú</option>
            <option value="girl">Lány</option>
        </select>
        <select>
            <option value="default">Fajta</option>
            <option value="1">Mopsz</option>
            <option value="2">Németjuhász</option>
        </select>
    </div>
</div>

<section class="hero-content">
    <div class="row">
        <div class="large-8 columns large-centered">
            <ul class="small-block-grid-4">
                <% for(var i = 0; i < 8; i++) { %>
                <li><a href="dogDetails"><img src="../public/img/dog<%= i+1 %>.png"/></a></li>
                <% } %>
            </ul>
        </div>
    </div>
</section>
</body>
</html>
