<!doctype html>
<html class="no-js" lang="hu">
<%- include head/head %>
<body>

<%- include menu/menu %>

<div class="hero-content">
    <div class="large-8 columns">
        <h2>Belépés</h2>
    </div>
</div>

<section class="hero-content">
    <div class="row">
        <div class="large-4 columns large-centered">
            <form method="post">
                <label for="name">Felhasználói név</label>
                <input id="userName" name="userName" type="text" maxlength="20"/>
                <label for="password">Jelszó</label>
                <input id="password" name="password" type="password" maxlength="20"/>
                <input id="enter" name="enter" value="Belépés" type="submit"/>
            </form>
        </div>
        <%if(error != []) {%>
            <div class="large-4 columns large-centered">
            <%error.forEach(function(item) {%>
                <Label id="error" name="error" disabled="true"><%=item%></Label>
            <%})%>
            </div>
        <%}%>
    </div>
</section>
</body>
</html>
