<!doctype html>
<html class="no-js" lang="hu">
<%- include head/head %>
<body>

<%- include menu/menu %>

<div class="hero-content">
    <div class="large-8 columns">
        <h2>Regisztráció</h2>
    </div>
</div>

<section class="hero-content">
    <div class="row">
        <div class="large-8 columns large-centered">
            <form>
                <label for="name">Felhasználói név (*)</label>
                <input id="name" name="name" type="text" maxlength="20"/>
                <label for="password">Jelszó (*)</label>
                <input id="password" name="password" type="password" maxlength="20"/>
                <label for="passwordAgain">Jelszó mégegyszer (*)</label>
                <input id="passwordAgain" name="passwordAgain" type="password" maxlength="20"/>
                <label for="email">E-mail cím (*)</label>
                <input id="email" name="email" type="text" maxlength="20"/>
                <label for="mobile">Telefonszám</label>
                <input id="mobile" name="mobile" type="text" maxlength="20"/>
                <label for="address">Lakcím</label>
                <input id="address" name="address" type="text" maxlength="20"/>
                <input id="registration" type="submit" value="Regisztráció"/>
            </form>
        </div>
    </div>
</section>
</body>
</html>
